/* @import url("https://fonts.googleapis.com") */

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

#container_nav{
    top: 0;
    bottom: 0;
    height: 100vh !important;
    left: 0;
    background: #eee;
    width: 120px;
    overflow-x: hidden;
    transition: width 0.2s linear;
    box-shadow:0 20px 35px #797979;
}
#container_ul{
    margin-left: -45px;
}
/* @media (max-width: 1600px) {
    nav {
        width: 7%; 
    }
}
*/

.logo_nav{
    color: #888 !important;
    text-decoration: none;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;

}
.logo_nav:hover{
    color: #fff !important;
}
.logo_nav img{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
.logo_nav span{
    font-weight: 15px;
    padding-left: 15px;
    top: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
.A{
    position: relative;
    color: rgba(85, 83, 83) !important;
    font-size: 13px;
    display: table;
    width: 300px;
    padding: 20px;
    margin-left: 0;
}
#div{
    display: flex;
    flex-wrap: nowrap;
}
#li{
    list-style: none;
    margin-left: 0px;
}
#li .a .imagen_a{
    position: relative;
    width: 50px;
    height: 50px;
    top: 14px;
    font-size: 5px;
}
.nav_item{
    text-align: center !important;
    position: relative;
    top: 8px;
    margin-left: 20px;
}
.A:hover{
    color:#fff !important;
    background: #28a745;
}
#container_nav:hover{
    text-align: center;
    justify-content: center;
    width: 300px;
    transition: all 0.5s ease;
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
#container_nav::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
}

#container_nav::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del "pulg贸n" de la barra de desplazamiento */
    border-radius: 5px; /* Radio de la esquina del "pulg贸n" */
}

#container_nav::-webkit-scrollbar-track {
    background-color: #eee; /* Color del fondo de la barra de desplazamiento */
}

/* Estilos para Internet Explorer */
#container_nav::-ms-scrollbar {
    width: 1px;
}

#container_nav::-ms-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

#container_nav::-ms-scrollbar-track {
    background-color: #eee;
}
@media (max-width: 578px) {
    *{
        font-size: 13px !important;
    }
    
    #li:hover{
        width: 100%;
        height: 100%;
        background: #28a745;
    }
    #container_nav{
        width: 100% !important;
        height: 110px !important;
        margin-bottom: 5%;
        box-shadow:0 10px 35px #797979;
        transition: height 0.2s linear;
    }
    #li{
        justify-content: center !important;
        text-align: center !important;
        display: grid !important;
        font-size: small !important;
        grid-template-columns: repeat(2,1fr) !important;
    }
    .nav_item{
        position: relative;
        padding: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #container_nav:hover{
        text-align: center;
        justify-content: center;
        height: 300px !important;
        transition: all 0.5s ease !important;
    }
    #container_ul{
        margin-left: 0;
    }
    .A:hover{
        background: none;
    }
    #div{
        flex-wrap: wrap;
    }
    #h5{
        font-size: 30px !important;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #ul{
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .logo_nav span{
        font-size: 13px !important;
    }
    /* Estilos para navegadores basados en WebKit (Chrome, Safari) */
    #container_nav::-webkit-scrollbar {
        width: 5px; /* Ancho de la barra de desplazamiento */
    }

    #container_nav::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del "pulg贸n" de la barra de desplazamiento */
        border-radius: 5px; /* Radio de la esquina del "pulg贸n" */
    }

    #container_nav::-webkit-scrollbar-track {
        background-color: #eee; /* Color del fondo de la barra de desplazamiento */
    }

    /* Estilos para Internet Explorer */
    #container_nav::-ms-scrollbar {
        width: 5px;
    }

    #container_nav::-ms-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    #container_nav::-ms-scrollbar-track {
        background-color: #eee;
    }
} 
@media (max-width: 500px){
    #ul{
        grid-template-columns: repeat(1,1fr) !important;
    }
}